body {
    margin: 0; 
    padding: 0; 
    background-color: #fde085; 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    position: relative;
    background-image: url('./imagens/fundogeral.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.fundo {
    background-image: url('./imagens/fundorecursos.jpg');
}

div {
    padding: 60px; 
    border-radius: 30px;
    box-shadow: 0px 7px 15px rgba(255, 255, 255, 0.2); 
    width: 300px; 
    text-align: center; 
}

form label {
    font-size: 16px;  
    color: #000;
    text-align: left;
    display: block; 
    margin-bottom: 5px;
}

form input, form select {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 14px; 
    background: rgba(255, 255, 255, 0.5); 
    color: #000; 
}

form select:focus, form input:focus {
    outline: none;
    border-color: #333; 
}

form button {
    width: 60%; 
    background-color: #000000; 
    color: #ffffff; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
}

form button:hover {
    background-color: #333; 
}

.DisMot {
    width: 40%;
}

.recursos {
    display: flex;
    align-self: end;
    font-size: 30px;
    position: relative;
    right: 150px;
    bottom: 40px;
    margin: 15px;
    gap: 400px;
}

.erro {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    padding: 0;
    border-radius: 0;
    box-shadow: 0px 0px 0px; 
    width: auto; 
}

.sucesso {
    color: green;
    font-size: 0.9em;
    margin-top: 5px;
    padding: 0;
    border-radius: 0;
    box-shadow: 0px 0px 0px; 
    width: auto;
}

.caixaPresenca {
    width: 100%; 
    padding: 0px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 14px; 
    background: rgba(255, 255, 255, 0.5); 
    color: #000;  
    text-align-last: left;
    font-family: Arial, Helvetica, sans-serif;
  }

.listaPresenca {
    cursor: pointer;
    padding: 0px; 
    border-radius: 0px;
    box-shadow: 0px 0px 0px;
  }

.discente {
    display: none;
    position: absolute;
    width: 350px; 
    box-shadow: 0px 0px 0px; 
    padding: 0px;
    margin: 0px 0px 15px 0px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 14px; 
    background: rgb(255, 255, 255); 
    color: #000; 
  }

.discente label {
    display: block;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
  }

.discente label:hover {
    background: #145cf7e8;
    color: #ffffff;
  }

input[type="checkbox"] {
    margin-right: 0px;
    width: 14px;
    padding: 0px;
    margin: 0px;
  }

.caixaPresenca.open .discente {
    display: block;
  }

.tituloescolha {
    padding: 12px 15px 12px 15px;
    font-size: 14px;  
    color: #000;
    text-align: left;
    margin-bottom: 0px;
}

.estrela {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    object-fit: fill; 
    z-index: 0;
}

.nota {
    font-size: 18px;
    width: auto;
    padding: 0px;
    margin: 5px 0px 5px 0px;
    position: relative;
    box-shadow: 0px 0px 0px 0px;
}

textarea {
    width: 100%;
    height: 150px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: 0px 0px 0px;
}

.titulo {
    margin-bottom: 20px;
    font-size: 37px;
    font-weight: bold;

}

.tabela-container {
   height:200px;
   width: 400px; 
   display: grid ;
   justify-content: center;
   align-items: center;
   box-shadow : 8px 7px 39px rgb(255 255 255 / 80%);
   padding: 0px;
   border-radius: 15px;
}

#tabelaF {
    width: 400px;
    height: 200px;
    border-collapse: collapse;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: px 5px 15px rgba(0, 0, 0, 0.2);
}

.voltar {
    margin-top: 20px; 
    text-decoration: none;
    color: blue;
    font-size: 16px;
}

.voltar:hover {
    text-decoration: underline;
}

.cabecalho {
    background-color: #fed14b;
}

.restotb {
    background-color: #ffdc72;
}